/* ========== Component : Badge Style  ============= */
.badge {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #191919;
  background: #B5A8F8;
  padding: 5.5px 15.5px;
  border-radius: 500px;
  margin-bottom: 18px;
}

